.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.file-upload-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
  cursor: pointer;
  width: 80%;
  max-width: 600px; /* Optional: restricts the width for larger screens */
}

.dropzone p {
  margin: 0;
}

/* Authentication button styles */
.auth-container {
  text-align: center;
  margin-top: 20px;
}

.auth-greeting {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.auth-button {
  margin-top: 20px;
  font-size: 1rem;
  padding: 10px 20px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button:hover {
  background-color: #0056b3;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  background-color: #f8f9fa; 
}

.github-link {
  color: #007bff; 
  text-decoration: none;
  font-weight: bold;
}

.github-link:hover {
  text-decoration: underline; 
  color: #0056b3; 
}